<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rdauncey.catanboardgenerator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Catan Board Generator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SeafarersNewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersFogActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersDesertActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersClothActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersFourActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersTribeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersWondersActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeafarersActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StandardActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ExtensionActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>